body{
    background-color: rebeccapurple;
}
#hereket-eden {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    border-radius: 20%;
    background-color: pink;
    p{
        text-align: center;
        margin: auto auto;
        font-size: xx-large;
        
        span{
            width: 500px;
            text-overflow:unset;
          
            text-anchor: inherit;
        }
    }
  }
  