*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ball{
    border-radius: 50%;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: jumping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.311, 0.441, 0.444, 1.649);
    background-color: red;
    margin: 0 auto;
}
@keyframes jumping{
    50%{
        top: 20%;
    }
}